@import "tailwindcss";

@theme {
  --font-sans: var(--ibm-sans);
  --font-bebas-neue: var(--bebas-neue);

  --color-background: hsl(0 0% 100%);
  --color-foreground: hsl(222.2 84% 4.9%);

  --color-primary: #9be4ae;
}
